#btn {
    justify-content: center;
    align-items: center;
    flex-wrap: wrap;
    height: 70px;
    width: 120px;
    font-size: 15px;
}

.mainContainer {
    display: flex;
    justify-content: center;
    align-items: center ;
    flex-direction: column;
    margin: 250px;
}

#addColor {
    width: 70px;
}

#text {
    display: flex;
    flex-wrap: wrap;
    flex-direction: row;
    color: rgb(181, 181, 181);
    font-size: 10px;
}
